#root {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app-container{
  display: flex;
  background-color: #333333;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 1em;
  border-radius: 2em;
}

.app-chat-container{
  background-color: transparent;
  overflow-y: scroll;
  padding: 1em;
  height: 90%;
}

.app-message-container{
  background-color: transparent;
  padding: 1em;
  height: 10%;
}

.app-chat-container::-webkit-scrollbar {
  width: 10px;
  /* Width of the entire scrollbar */
}

.app-chat-container::-webkit-scrollbar-track {
  background: #1f1f1f;
  /* Track background */
  border-radius: 10px;
}

.app-chat-container::-webkit-scrollbar-thumb {
  background: linear-gradient(135deg, #38f9d7, #43e97b);
  /* Thumb (the draggable part) */
  border-radius: 10px;
}

.app-chat-container::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(135deg, #30cfd0, #330867);
  /* On hover */
}